<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Home Page</h1>

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>num</th>
        </tr>
        <tr>
            <td>1</td>
            <td>win</td>
            <td>10000</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>mac</td>
            <td>20000</td>
            <td>4</td>
        </tr>
    </table>
</body>
</html>